<div [formGroup]="form">
  <div class="mb-2">
    <label for="code" class="form-label">Code</label>
    <input
      id="code"
      name="code"
      type="text"
      class="form-control"
      formControlName="code"
      [ngClass]="setInvalidClass('code')"
    />
    <app-invalid-field
      [message]="'The field Code is required'"
      [display]="isFieldValid('code')"
    ></app-invalid-field>
  </div>
  <div class="mb-2">
    <label for="name" class="form-label">Name</label>
    <input
      id="name"
      name="name"
      type="text"
      class="form-control"
      formControlName="name"
      [ngClass]="setInvalidClass('name')"
    />
    <app-invalid-field
      [message]="'The field Name is required'"
      [display]="isFieldValid('name')"
    ></app-invalid-field>
  </div>
</div>
