<nav
  class="
    navbar
    bg-dark
    navbar-expand-lg
    bg-body-tertiary
    border-bottom border-bottom-dark
  "
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Borderlands 2 API</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
          >
            Weapons
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/weapons/codes">Codes</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>

<div class="container text-bg-dark">
  <router-outlet name="main"></router-outlet>
</div>
